### Lists, Tuples, Dictionaries

In [2]:
test_list = [1, 2, 3, 4, 5,6, 7, 8, 9]
print(test_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
test_list = ["erer", "sdfv", "sjdsds"]
print(test_list)

['erer', 'sdfv', 'sjdsds']

In [4]:
test_list = [43, "jjv", "jhvjcnv", 656, 43543.434]
print(test_list)

[43, 'jjv', 'jhvjcnv', 656, 43543.434]

In [9]:
test_list[5]

IndexError: list index out of range

In [5]:
len(test_list)

5

In [13]:
test = list((1,2,4,4,4,2,1))
t = set(test)

In [14]:
print(t)

{1, 2, 4}

In [12]:
# Nested Lists
test = [34, 4545, [545, 343, 3434,4 ], 54, 343, ["44", "sdfsdf", "fsf"]]

In [17]:
t1 = [345,345 , 345, 345, 45]
t2 = [3543, 345, 345, 54, 234, 45]
t3 = [t1, t2]
print(t3)

[[345, 345, 345, 345, 45], [3543, 345, 345, 54, 234, 45]]

In [22]:
t3 = t1 + t2
print(t3)

[345, 345, 345, 345, 45, 3543, 345, 345, 54, 234, 45]

In [23]:
t3.insert(4, 99)
t3

[345, 345, 345, 345, 99, 45, 3543, 345, 345, 54, 234, 45]

In [25]:
t3.append(88)
t3

[345, 345, 345, 345, 99, 45, 3543, 345, 345, 54, 234, 45, 88]

In [26]:
t3.extend([100, 101, 102])
t3

[345, 345, 345, 345, 99, 45, 3543, 345, 345, 54, 234, 45, 88, 100, 101, 102]

In [33]:
# sort is performed in-place, can't be assined to another variable
sorted_t3 = t3
sorted_t3.sort(reverse = True)
print(sorted_t3)

[3543, 345, 345, 345, 345, 345, 345, 234, 102, 101, 100, 99, 88, 54, 45, 45]

In [34]:
t3.sort?

Signature: t3.sort(*, key=None, reverse=False)
Docstring:
Sort the list in ascending order and return None.

The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
order of two equal elements is maintained).

If a key function is given, apply it once to each list item and sort them,
ascending or descending, according to their function values.

The reverse flag can be set to sort in descending order.
Type:      builtin_function_or_method

In [41]:
t3[0] = 10000
print(t3[:5])

[10000, 345, 345, 345, 345]

In [ ]:
coordinates = [[3, 2], [1, 4], [5, 6], [7, 8], [1, 4]]
'''
3 2
1 4
5 6
7 8
1 4
'''

In [ ]:
# Tuple
# immutable list

In [37]:
test_tuple = (1, 2, 3, 5)
print(test_tuple)

(1, 2, 3, 5)

In [42]:
test_tuple = (0, 2, 3, 5)
print(test_tuple)

(0, 2, 3, 5)

In [ ]:
# list to tuple
# tuple to list

In [44]:
t3_tuple = tuple(t3)
print(t3_tuple)
t3_list = list(t3_tuple)
print(t3_list)

(10000, 345, 345, 345, 345, 345, 345, 234, 102, 101, 100, 99, 88, 54, 45, 45)
[10000, 345, 345, 345, 345, 345, 345, 234, 102, 101, 100, 99, 88, 54, 45, 45]

In [45]:
list(test_tuple)

[0, 2, 3, 5]

In [ ]:
# Dictionaries
# key:value pair
# {}

In [48]:
studentnames = {}
studentnames[1200012] = "Akash"
studentnames[1200013] = "Anu"
studentnames[1204535] = "XYZ"
print(studentnames)

{1200012: 'Akash', 1200013: 'Anu', 1204535: 'XYZ'}

In [52]:
studentgrades = {}
studentgrades[1200012] = 10
studentgrades[1200013] = 9
studentgrades[1204535] = 8
print(studentgrades)

{1200012: 10, 1200013: 9, 1204535: 8}

In [55]:
student_info = {}
student_info[1200012] = {"name": "Akash", "degree": "Btech", "cgpa": 9, "city": "Delhi"}
student_info[1200013] = {"name": "Anu", "degree": "Btech", "cgpa": 10, "city": "Chandigarh"}
print(student_info)

{1200012: {'name': 'Akash', 'degree': 'Btech', 'cgpa': 9, 'city': 'Delhi'}, 1200013: {'name': 'Anu', 'degree': 'Btech', 'cgpa': 10, 'city': 'Chandigarh'}}

In [59]:
student_info = {}
student_info[1200012] = {"name": "Akash", "degree": "Btech", "cgpa": 9}
student_info[1200012]["address"] = {"state":"Delhi", "city": "Delhi"}
student_info[1200013] = {"name": "Anu", "degree": "Btech", "cgpa": 10}
student_info[1200013]["address"] = {"state":"Punjab", "city": "Chandigarh"}
print(student_info)

{1200012: {'name': 'Akash', 'degree': 'Btech', 'cgpa': 9, 'address': {'state': 'Delhi', 'city': 'Delhi'}}, 1200013: {'name': 'Anu', 'degree': 'Btech', 'cgpa': 10, 'address': {'state': 'Punjab', 'city': 'Chandigarh'}}}

In [63]:
student_info[1200013]["name"]

'Anu'

In [69]:
1200013 in student_info

True

In [70]:
student_info[1200016] = {"name":}

False

In [ ]:
# Conditional IF ELSE statements

In [74]:
if 2 > 3:
    print("Yes1")
    print("Yes2")
elif 4 < 3:
    print("4<3")
elif 7>5:
    print("Y")
else:
    print("otherwise")
print("Yes outside If")

Y
Yes outside If

In [79]:
v1 = 3
v2 = 4
v1 != v2

True

In [83]:
s1 = "qwerty"
s2 = "fsdfsdfg"
s1 == s2

False

In [16]:
l1 = [1, 2, 3, 4, 5]
7 in l1

False

In [87]:
if not 4 in l1:
    print("Yes")
else:
    print("No")

No

In [19]:
if 4 in l1 and 6 in l1:
    print("Yes both")

In [98]:
# >=8: A
# 6-7: B
# <6: C
grade = 6.5
if grade>=8:
    print("A")
elif grade>=6:
    print("B")
else:
    print("C")

B