# End Term Examination : BE-103

### Part:2 Samarendra Gouda Enrollment No. 21111031

In [ ]:
# Q1
x = 1
while x>0:
    print("This is an Infinite Loop!")

In [25]:
# Q2
var1 = "Lorem ipsum dolor sit amet"
rev_var1 = ""
for i in var1:
    rev_var1 = i + rev_var1
print(rev_var1)

tema tis rolod muspi meroL

In [24]:
# Q3
var2 = "Lorem iPsum DoloR sit Amet"
numUpper = 0
for i in var2:
    if i.isupper() == True:
        numUpper += 1
print(numUpper)

5

In [35]:
# Q4
var3 = ["transport", "transmission", "transitory"]
pre = var3[0]
for string in var3[1:]:
    while string[:len(pre)] != pre and pre:
        pre = pre[:len(pre)-1]
    if not pre:
        break
print(str(pre))

trans

In [22]:
# Q5
var4 = [4, 5, 8, 10, 45, 34, 67, 16, 85, 61, 42, 40, 46]
for i in range(0,len(var4)):
    for j in range(i+1,len(var4)):
        sum = var4[i]+var4[j]
        if sum == 50:
            print(var4[i]," ",var4[j])

4   46
5   45
8   42
10   40
34   16

In [32]:
# Q6
var5 = [0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
st = ""
for elem in var5:
    st = st + str(elem)
st_l = st.split("0")
st_l.sort()
print(len(st_l[-1]))

6

In [17]:
# Q7
# Exchange the key value pair in var6
var6 = {'q': 'Q', 'w': 'W', 'e': 'E'}
var6_swapped = dict([(value, key) for key, value in var6.items()])
print(var6_swapped)

{'Q': 'q', 'W': 'w', 'E': 'e'}

In [15]:
# Q8
var7 = ["Mango", "banana", "aPPle", "Apple", "mango", "Banana", "MangO"]
for elem in var7:
    elem = elem.capitalize()
s_var7 = set(var7)
for ele in s_var7:
    print(ele)

MangO
Banana
aPPle
Mango
banana
Apple
mango

In [6]:
# Q9
# Lambda Function to add three numbers


sum = lambda a,b,c: a+b+c
print(sum(2,3,9))

14

In [13]:
# Q10
var8 = ["car", "mango", "bus", "mango", "apple", "mango", "bus"]
keys = set(var8)
dict1 = {}
for key in keys:
    dict1[key] = var8.count(key)
    
dict1

{'car': 1, 'bus': 2, 'apple': 1, 'mango': 3}

In [8]:
# Q11
# print the sum of the digits in var9
var9 = 4371
s_var9 = str(var9)
sum = 0
for i in s_var9:
    sum += int(i)
print(sum)

15

In [9]:
# Q12
# Print prime numbers between 100 to 200
for n in range(100,201):
    count = 0
    for i in range(2, n//2+1):
        if n%i == 0:
            count +=1
            break
    if (count == 0 and n !=1):
        print(n, end=" ")

101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [10]:
# Q13.a
class Qwerty:
    pass
person1 = Qwerty()
person1.name = "Samarendra"
person1.enrollment = 21111031
person1.dept = "BSBE"

In [12]:
person1.name

'Samarendra'

In [13]:
person1.enrollment

21111031

In [15]:
person1.dept

'BSBE'

In [1]:
# Q13.b
class Qwerty:
    def __init__(self,x,y,z):
        self.x = x
        self.y = y
        self.z = z
    def getX(self):
        return self.x

In [3]:
numbers = Qwerty(12,13,14)
numbers.getX()

12

In [4]:
numbers.y

13

In [9]:
# Q14
class Qwerty:
    def __init__(self,x,y,z):
        self.x = x
        self.y = y
        self.z = z
  #Method to retrive the x and y value
    def getXY(self):
        print("The x value is:",self.x," and the y value is:",self.y)
  # Method to print the sum of x,y,z  
    def getSum(self):
        print("The sum of x,y and z",self.x+self.y+self.z)

In [3]:
numbers = Qwerty(19,20,21)

In [10]:
numbers.getXY()

('The x value is:', 19, ' and the y value is:', 20)

In [11]:
numbers.getSum()

('The sum of x,y and z', 60)